<style>
    .registerContainer{
        background-color: rgb(250, 250, 250);
        padding: 20px;
    }
    
    .registerFormContainer{
        background-color: rgb(242, 242, 242);
        padding: 20px;
    }
</style>

<h1>Register</h1>
<h4>Create an account and get started today.</h4>

<div class="row registerContainer">
    <div class="col-md-8 registerFormContainer">
        <div class="alert alert-danger" ng-show="registrationForm.$submitted && !registrationForm.$valid">
            <strong>Oh snap!</strong> Looks like you need to adjust a few things. <a ng-click="goToFirstError()">Go to first error</a>
        </div>
        <form name="registrationForm"  novalidate>
            <div class="form-group" ng-class="{'has-error': registrationForm.$submitted && registrationForm.txtForname.$invalid}">
                <label for="txtForname">Forname*</label>
                <input ng-model="registration.forname" ng-maxlength="100" class="form-control" type="text"  id="txtForname" name="txtForname"  required placeholder="Forname">
                <span class="help-block" ng-show="registrationForm.$submitted && registrationForm.txtForname.$error.required">Required</span>
            </div>
            <div class="form-group" ng-class="{'has-error': registrationForm.$submitted && registrationForm.txtSurname.$invalid}">
                <label for="txtSurname">Surname*</label>
                <input ng-model="registration.surname" ng-maxlength="100" class="form-control" type="text"  id="txtSurname" name="txtSurname" required placeholder="Surname">
                <span class="help-block" ng-show="registrationForm.$submitted && registrationForm.txtSurname.$error.required">Required</span>
            </div>
            <div class="form-group row">
                <div class="col-sm-4"  ng-class="{'has-error': registrationForm.$submitted && registrationForm.txtSex.$invalid}">
                    <label for="txtSex">Sex*</label>
                    <select ng-model="registration.sex" id="txtSex" name="txtSex" placeholder="Please select" required class="form-control">
                        <option value="" disabled selected hidden>Please select</option>
                        <option value="male">Male</option>
                        <option value="female">Female</option>
                    </select>
                    <span class="help-block" ng-show="registrationForm.$submitted && registrationForm.txtSex.$error.required">Required</span>
                </div>
                <div class="col-sm-8"  ng-class="{'has-error': registrationForm.$submitted && registrationForm.txtBirthdate.$invalid}">
                    <label for="txtBirthdate">Date of birth*</label>
                    <input ng-model="registration.birthdate" id="txtBirthdate" name="txtBirthdate" required type="date" class="form-control" placeholder="Date of birth">
                    <span class="help-block" ng-show="registrationForm.$submitted && registrationForm.txtBirthdate.$error.required">Required</span>
                </div>
            </div>
            <div class="form-group"  ng-class="{'has-error': registrationForm.$submitted && registrationForm.txtEmail.$invalid}">
                <label for="txtEmail">Email Address*</label>
                <input ng-model="registration.email" ng-maxlength="100" ng-pattern="/^[\w-\.]+@([\w-]+\.)+[\w-]{2,4}$/" class="form-control" type="email"  id="txtEmail" name="txtEmail" required placeholder="Email address">
                <span class="help-block" ng-show="registrationForm.$submitted && registrationForm.txtEmail.$error.required">Required</span>
                <span class="help-block" ng-show="registrationForm.$submitted && registrationForm.txtEmail.$error.pattern" >This is not a valid email address</span>                                                
            </div>
            
            <div class="form-group"  ng-class="{'has-error': registrationForm.$submitted && registrationForm.txtEmailConfirm.$invalid}">
                <label for="txtEmailConfirm">Verify Email Address*</label>
                <input ng-model="registration.emailConfirm" ng-pattern="/^[\w-\.]+@([\w-]+\.)+[\w-]{2,4}$/" ng-maxlength="100" class="form-control" type="email"  id="txtEmailConfirm" name="txtEmailConfirm" required placeholder="Verify email address">
                <span class="help-block" ng-show="registrationForm.$submitted && registrationForm.txtEmailConfirm.$error.required">Required</span>
                <span class="help-block" ng-show="registrationForm.$submitted && registrationForm.txtEmailConfirm.$error.pattern" >This is not a valid email address</span>                                
                <span class="help-block" ng-show="registrationForm.$submitted && matchingEmails() == false">Email addresses do not match</span>
            </div>
            
            <div class="form-group"  ng-class="{'has-error': registrationForm.$submitted && registrationForm.txtPassword.$invalid}">
                <label for="txtPassword">Password</label>
                <div class="input-group">
                    <input ng-model="registration.password" ng-pattern="/^(?=.*\d)(?=.*[A-Z])/" ng-minlength="7" ng-maxlength="25" class="form-control" type="{{passwordType}}"  id="txtPassword" name="txtPassword" required placeholder="Password">
                    <span class="input-group-addon"><input id="chkShowPassword" type="checkbox" ng-click="togglePassword()" placeholder="Show"> <label for="chkShowPassword" class="">Show</label></span>
                </div>
                <span class="help-block" ng-show="registrationForm.txtPassword.$error.pattern" >Use at least one uppercase character. At least one number.</span>                
                <span class="help-block" ng-show="registrationForm.$submitted && registrationForm.txtPassword.$error.required">Required</span>
                <span class="help-block" ng-show="registrationForm.$submitted && registrationForm.txtPassword.$error.minlength">At least 7 characters</span>
                <span class="help-block" ng-show="registrationForm.$submitted && registrationForm.txtPassword.$error.maxlength">Max 25 characters</span>            
            </div>

            <button type="submit" ng-click="register(registration)" class="btn btn-primary btn-lg pull-right">Register</button>
        </form>

    </div>
    
    <div class="col-md-4 text-center ">
        <div class="center-block">
            <p><b>Already a member?</b></p>
            <a class="btn btn-default btn-lg" href="#/login">Login</a>
        </div>
    </div>
</div>

